:root {
  --primary-color: #f15a29;
  --bg-star: #ea9d02;
  --code-label:#f69113;
  --primary-strong:#f62901;
  --foreign-color:#ff0000e3;
}
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.5rem;
}
body {
  font-size: 1.5rem;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
button{
  outline:none !important;
}
ul {
  margin-bottom: 0;
  list-style: none;
}
a:hover {
  text-decoration: none;
}
/* class cursor pointer */
.cursor-pointer {
  cursor: pointer;
}
/* giới hạn 2 dòng nội dung */
.text-overflow{
  overflow: hidden;
  line-height:2rem;
  /* height:4rem; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.owl-carousel{
  display: block !important;
}