:root {
  --primary-color: #f15a29;
  --bg-star: #ea9d02;
  --code-label: #f69113;
  --primary-strong: #f62901;
  --foreign-color: #ff0000e3;
}
.text-primary-color{
  color: var(--primary-color);
}
.porsition-sticky{
  position: sticky;
  top: 10px;
}
.font-weight-5{
  font-weight: 500;
}
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.5rem;
}
body {
  font-size: 1.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
button {
  outline: none !important;
}
.font-size{
  font-size:1.4rem;
}
ul {
  margin-bottom: 0;
  list-style: none;
}
a:hover {
  text-decoration: none;
}
/* class cursor pointer */
.cursor-pointer {
  cursor: pointer;
}
/* giới hạn 2 dòng nội dung */
.text-overflow {
  overflow: hidden;
  line-height: 2rem;
  height: 4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.text-ellip{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label-deal-soc-add-cart{
  border:1px solid var(--primary-color);
  padding:2px 5px;
  font-size: 1.1rem;
  color:var(--foreign-color);
}
.owl-carousel {
  display: block !important;
}
.font-size-2-5 {
  font-size: 2.5rem;
}
.font-size-1-8 {
  font-size: 1.8rem;
}
.font-size-1-4 {
  font-size: 1.4rem;
}
/* 2.5 cột */
/*col-3 3*4=12 */
.col-2-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.col-2-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.primary{
  background-color: #f15a29;
}
.icon {
  font-size: 1.2rem !important;
  color: var(--bg-star);
}
.icon-to {
  font-size: 1.3rem !important;
  color: var(--bg-star);
  padding: 0 2px;
}
.form-check {
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
input[type="checkbox"] {
  background: var(--primary-color) !important;
}
