.product-detail {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

.product-detail-title {
  font-size: 2.4rem;
}

.product-deltai-img {
  height: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.product-detail-imgs {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.product-detail-imgs .owl-nav.disabled {
  display: block !important;
}
.product-detail-imgs .owl-prev {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  padding: 5px;
  left: -10%;
  opacity: 0.4;
}
.product-detail-imgs .owl-nav [class*="owl-"]:hover {
  background-color: white !important;
  opacity: 0.8;
}

.product-detail-imgs .owl-next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  padding: 5px;
  right: -10%;
  opacity: 0.4;
}
.product-detail-imgs .owl-next i {
  font-size: 3rem;
  color: var(--secondary);
}
.product-detail-imgs .owl-prev i {
  font-size: 3rem;
  color: var(--secondary);
}
.imgs-items {
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 100%;
}
.product-detail-cau-hinh {
  background-color: #f8f9fa;
  padding: 15px;
  cursor: help;
  border-radius: 5px;
}
.product-detail-cau-hinh ul li {
  padding: 5px 0;
  color: var(--dark);
}
.product-detail-cau-hinh ul li i {
  color: #b6bfc7;
  padding-right: 8px;
}

.product-detail-heading {
  border-bottom: 1px solid #eeeeee;
}

.product-detail-rating-danh-gia {
}

.product-detail-price-new {
  font-size: 3rem;
  color: var(--primary-color);
}

.product-detail-price-old {
  font-size: 1.9rem;
}

/* lable giảm giá */
.product-detail-label_giam-gia{
  background-color:var(--primary-color);
  font-weight: 600;
  text-transform: uppercase;
  color:white;
  font-size: 1.2rem;
  padding: 4px;
  border-radius:3px;
  margin-left: 10px;
}


.box-check-dung-luong {
  background-color: #f8f9fa;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.box-check-dung-luong.active {
  background-color: #edeeef;
}

.product-detail-select-mau-img {
  border-radius: 5px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.box-items-mau {
  margin-right: 14px;
  cursor: pointer;
  min-width: 60px;
}
.box-items-mau.active .product-detail-select-mau-img {
  border: 1px solid var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product-detail-voucher {
  background-color: #f8f9fa;
}
.product-detail-voucher ul {
  border: 1px solid #eaeaea;
  border-radius: 5px;
}
.product-detail-voucher ul li {
  padding: 8px 14px;
}
.product-detail-voucher ul li:nth-child(1) {
  border-bottom: 1px solid #eaeaea;
  /* border-color: transparent #e9ecef #e9ecef #e9ecef; */
  padding: 8px 14px;
  color: var(--dark);
  font-weight: 500;
}
.product-detail-buy-now {
  width: 100% !important;
  border-radius: 5px;
}
.product-detail-buy-now:hover {
  background-color: #db3e00;
}
.product-detail-buy-now strong {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
}
.product-detail-buy-tra-gop {
  border-radius: 5px;
  width: 100%;
}
.product-detail-buy-tra-gop strong {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
}

.product-detail-buy-trade-in {
  border-radius: 5px;
  width: 100%;
}
.product-detail-buy-trade-in strong {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
}

/* mua kèm dal sốc */
.product-detail-mua-kem-deal {
}
.product-detail-mua-kem-deal-main-pro-img {
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 100%;
  border-radius: 5px;
  padding-bottom: 10px;
}
.product-detail-mua-kem-deal-main-pro-content {
}
.product-detail-mua-kem-deal-main-pro-content-price-new {
  color: var(--primary-color);
  padding-right: 5px;
  font-weight: 700;
}
.product-detail-mua-kem-deal-main-pro-add-cart {
}
.product-detail-mua-kem-deal-main-pro-add-cart .btn {
  background-color: #ffeee8;
  opacity: 0.6;
  cursor: alias !important;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
/* items pro */
.product-detail-mua-kem-deal-main-items-content-price-new {
  color: var(--primary-color);
  padding-right: 5px;
  font-weight: 700;
}
.product-detail-mua-kem-deal-main-items-add-cart {
}
.product-detail-mua-kem-deal-main-items-add-cart .btn {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  transition: all 0.4s;
}
.product-detail-mua-kem-deal-main-items-add-cart .btn:hover {
  background-color: #ec6538;
  color: white;
}
.btn-total-mua-kem-deal-soc {
  color: white;
  border-radius: 7px;
}
.btn-total-mua-kem-deal-soc:disabled {
  cursor:help;
}
/* check mua deal ko */

.btn-total-mua-kem-deal-soc:hover {
  background-color:var(--bg-primary-hover);
}
/* sản phẩm tương tự */
.san-pham-tuong-tu {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}
/* mô tả sp */
.mota-product-detail {
  height: 700px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.product-detail-mota-no-content {
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  padding: 10px;
}
.mota-product-detail img {
  width: 100%;
}
.doc-them {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
}
.an-bot {
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
}
.news-product-detai-title {
  text-transform: uppercase;
  font-weight: 500;
}
.news-product-detail {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.danh-sach-bai-viet-product-detail .banner__right-promotion-body-content {
  margin: 20px 0;
}
.product-detail-rating {
  background-color: white;
}
/* proges sao */
.product-detail-rating-proges-5-star-main-count {
  background-color: #e9ecef;
  width: 80%;
  height: 10px;
  position: relative;
  border-radius: 5px;
}
.product-detail-rating-proges-5-star-counting {
  background-color: #48bb78;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10000;
  border-radius: 5px;
}
.product-detail-rating-avg-count {
  font-size: 4rem;
  font-weight: 500;
  color: var(--primary-color);
}

.product-detail-rating-write {
  background-color: #f3f3f3;
  border: 1px solid #eaeaea;
}
.btn-viet-danh-gia {
  border-radius: 5px;
}
.btn-viet-danh-gia:hover {
  background-color: var(--bg-primary-hover);
}
.box-write-danh-gia {
  position: relative;
}
.text-area-send-rate {
  font-size: 1.6rem;
}
.btn-send-danh-gia {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6%;
  padding: 7px 10px !important;
}
.product-detail-comment-write .btn-send-comment {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
  padding: 7px 10px !important;
}
.btn-send-danh-gia:hover {
  background-color: var(--bg-primary-hover);
}
.product-detail-rating-write-title-check-star {
  transform: translateX(-35%) !important;
}
.rating-sao {
  float: right;
  cursor: pointer;
  margin: 0 4px;
}
label.rating-sao i {
  color: #99a2aa !important;
}
.box-select-star {
  position: relative;
}
.text-select-star {
  position: absolute;
  color: var(--dark);
  font-size: 1.6rem;
  top: 55%;
  left: 65%;
}

.vote-sao label:hover i,
.vote-sao input:checked ~ label i,
.vote-sao input:not(:checked):hover ~ label i {
  color: var(--bg-star) !important;
}

/* list rating */
.list-product-detail-rating{
  padding: 1.4%  !important;
}

/* comment */
.comment-render-box{
  margin: 18px 0;
}
.product-detail-comment{
  background-color: white;
  padding:1.4% 0 1.4% 1.4%;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.product-detail-comment-title{
  padding:10px 0;
  font-size: 2rem;
  font-weight: 500;
}
.btn-send-comment:hover{
  background-color: var(--bg-primary-hover);
}
.comment-render-avatar{
  width:48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-bottom:20px;
  margin-right: 10px;
}
.comment-render-action {
  color:var(--blue);
  cursor: pointer;
}
.comment-render-name-title{
  font-size: 1.7rem ;
  font-weight: 500;
}
.comment-render-name-date{
  font-size: 1.3rem ;
  color:var(--secondary);
  padding-left:5px;
}
.comment-render-content{
  font-size: 1.6rem;
}
.comment-render-reply{
  margin-left:8%;
  border-left: 2px solid #eaeaea;
  padding-left: 8px;
  padding-right: 2%;
  border-radius:5px;

}
.chia-nhanh-reply{
  position: relative;
}
.chia-nhanh-reply:after{
  position: absolute;
  top: 30%;
  left: -1%;
  content: "";
  width:13px;
  height: 2px;
  background-color:#eaeaea;
  border-radius: 5px;
}
.comment-render-label-admin{
  background-color:var(--primary-color);
  padding: 0 5px;
  border-radius: 3px;
  color:white;
  margin-left: 5px;
}
.comment-render-reply-write{
  margin-left:8%;
  border-left: 4px solid #eaeaea;
  padding-left: 8px;
  padding-right: 2%;
  
}

 .box-write-danh-gia{
   margin: 10px 0;
 }
.box-write-reply{
  position: relative;
}
.btn-send-comment-reply{
  position: absolute;
  top: 14%;
  right: 4%;
}

/* phân trang */
.page-link{
  color:var(--dark);
}
.page-link.active{
  background-color: var(--primary-color);
color:white;
}

.ma_giam_gia{
  position: relative;
}
.hover-box-ma-giam-gia{
  position: absolute;
  width: 70%;
  top: 200%;
  left: 0;
  border-radius:5px;
  background-color: white;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.ma_giam_gia:before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  background-color: transparent;
  width: 60%;
  height: 52px;
}
.hover-box-ma-giam-gia-content-items{
  width: 300px;
  
}
/* css hover mã giảm giá
 */
 .ma_giam_gia:hover .hover-box-ma-giam-gia{
   display: flex !important;
 }
 .hover-box-ma-giam-gia{
   display: none !important;

 }
 .hover-box-ma-giam-gia-content{
   margin: 10px 0;
 }
 .hover-box-ma-giam-gia-content-items{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border:1px solid #eaeaea;
  border-radius: 5px;

 }
 .hover-box-ma-giam-gia-content-items-img{
   background-color: #ff641f;
   width:23%;
   border-right: 1px solid #eaeaea;
   height:60px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
 }
 .hover-box-ma-giam-gia-content-items-img i{
   font-size: 3rem;
   color: #fff;
 }
 