* {
  padding: 0;
  margin: 0;
}
.text-ellip{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body {
  font-family: "Helvetica ", Arial, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-help {
  cursor: help;
}
:root {
  --white-color: rgba(255, 255, 255, 0.966);
  --primary-color: #f15a29;

}

.table {
  background-color: white;
}

.bgprimary {
  background-color: #f15a29;
}
.bgprimary:hover{
  background-color: #db3e00;
}

.colorprimary {
  color: #f15a29;
}
.textwhite{
  color:rgba(255, 255, 255, 0.924);
}
/* bootstrap */

.form-control {
  font-size: 1.4rem !important;
  padding: 0.8rem !important;
}

select#exampleFormControlSelect1 {
  padding: 1rem !important;
  font-size: 1.4rem !important;
  height: 40px !important;
}
select.exampleFormControlSelect1 {
  padding: .3rem !important;
  font-size: 1.4rem !important;
  height: 30px !important;
}

.btn {
  font-size: 1.4rem !important;
  /* padding: .8rem !important; */
}

.padding-select {
  padding: 0.5rem;
}

.form-select {
  border: 1px solid #ced4da !important;
  outline: none !important;
}

.form-select:focus {
  border-color: #80bdff !important;
}

