* {
    padding: 0;
    margin: 0;
}

:root {
    --link: #007bff;
    --primary-color: #f15a29;
    --bg-star: #ffdc41cc;
}

html {
    font-size: 62.5%;
    line-height: 1.4rem;
}

body {
    font-size: 1.4rem;
}

a:hover {
    text-decoration: none;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
}


/* navigation */

.navigation {
    /* background-color: #003147; */
    width: 250px;
    position: fixed;
    height: 100%;
    transition: all 0.4s;
    overflow: hidden;
    box-shadow: 0px 0px 28px 0px rgb(82 63 105 / 8%);
}

.navigation.active {
    width: 60px;
}


/* .sub menu */

.sub-menu-items {
    display: block;
    padding: 5px 0 5px 40px;
    color: inherit;
}

.sub-menu-items i {
    font-size: 0.6rem;
    padding-right: 10px;
}


/* .sub -menu */

.sub-menu {
    display: none;
}


/* tạo thanh cuộn nav */

.navigation ul {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.3s;
}

.navigation ul::-webkit-scrollbar {
    width: 6px;
}

.navigation ul::-webkit-scrollbar-thumb {
    background-color: #acacac;
    border-radius: 50px;
    display: none;
}

.navigation ul:hover::-webkit-scrollbar-thumb {
    display: block;
}


/* end scrollbar nav */

.navigation li:nth-child(1) .navigation__link {
    padding-left: 20px;
}

.navigation.active.navigation li:nth-child(1) .navigation__link {
    padding-left: 10px;
}

.navigation.active .navigation__link span:nth-child(2) {
    display: none;
}

.navigation__items {
    padding: 0 20px;
}

.navigation.active .navigation__items {
    padding: 0 16px;
}


/* .navigation__items:nth-child(2){
    background-color:#03a9f4;

} */

.navigation__link {
    color: var(--dark);
    display: block;
    padding: 14px 0;
    position: relative;
}

.navigation__link:hover {
    color: var(--blue);
}

.navigation__link span:nth-child(2) i {
    position: absolute;
    top: 13%;
    right: 0;
    font-size: 1.2rem;
    transform: translateY(100%);
}

.navigation__link span:nth-child(1) {
    width: 40px;
    display: flex;
    justify-content: center;
}

.navigation__link span i {
    padding-right: 14px;
    font-size: 2rem;
}


/* .navigation__items:hover {
  background-color: #03a9f4;
}
.navigation__items.active {
  background-color: #03a9f4;
} */

.logo {
    font-size: 3rem;
    padding-left: 10px;
    font-weight: 700;
    color: var(--primary-color);
}

.navigation li:nth-child(1) .navigation__link:hover {
    color: var(--dark);
}


/* main */

.main {
    width: calc(100% - 250px);
    margin-left: 250px;
    min-height: 100vh;
    background-color: #e5e5e5;
    transition: all 0.3s;
    position: relative;
}

.main.active {
    width: calc(100% - 60px);
    margin-left: 60px;
}

.top__bar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 0 3%;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.toggle {
    font-size: 2rem;
    cursor: pointer;
    position: relative;
}

.toggle:hover i {
    color: var(--link);
}


/* .search {} */

.search input {
    line-height: 2rem !important;
    font-size: 1.4rem;
    width: 300px !important;
}

.search ::placeholder {
    font-size: 1.4rem;
}

.search button {
    line-height: 2rem;
    padding: 4px 14px;
    font-size: 1.4rem;
}

.search .btn {
    padding: 0.8rem 1.4rem !important;
}

.user__dropdown {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdown-item {
    font-size: 1.4rem;
}

.content {
    padding: 2% 2% 8% 2%;
}


/* overview */

.title {
    font-size: 1.5rem;
}

.overview__box {
    min-width: 20%;
}

.overview__icon {
    padding: 1%;
    width: 30%;
    font-size: 3rem;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview__content {
    padding: 5%;
    flex: 1;
    position: relative;
}

.overview__text {
    color: var(--white-color);
    text-transform: uppercase;
}

.overview__box:nth-child(1) .overview__icon {
    background-color: rgb(205 26 87);
}

.overview__box:nth-child(2) .overview__icon {
    background-color: #00a5ba;
}

.overview__box:nth-child(3) .overview__icon {
    background-color: #7aab41;
}

.overview__box:nth-child(4) .overview__icon {
    background-color: #e08600;
}

.overview__box:nth-child(1) .overview__content {
    background-color: #e91e63;
}

.overview__box:nth-child(2) .overview__content {
    background-color: #00bcd4;
}

.overview__box:nth-child(3) .overview__content {
    background-color: #8bc34a;
}

.overview__box:nth-child(4) .overview__content {
    background-color: #ff9800;
}

.overview__count {
    color: var(--white-color);
    font-size: 3rem;
}

.overview__content:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.04);
    transition: all 0.8s;
}

.overview__box:hover .overview__content:before {
    width: 100%;
}


/* end overview */

.chart__monthl-revenu {
    background-color: white;
}

.chart__monthl-revenu svg {
    padding: 10px;
}


/* comment new */

.user__comment {
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


/* end main */


/* .footer */

.footer {
    color: var(--dark);
    font-weight: 500;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}