:root {
  --primary-color: #f15a29;
  --bg-star: #ffdc41cc;
  --primary-strong:#f62901;
}
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.5rem;
}
body {
  font-size: 1.5rem;
}
button{
  outline:none !important;
}
ul {
  margin-bottom: 0;
  list-style: none;
}
a:hover {
  text-decoration: none;
}
.text-overflow{
  overflow: hidden;
  line-height:2rem;
  height:4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
